<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>WheelBuddy - Registration</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- jQuery -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.0/normalize.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css">
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/pixeden-stroke-7-icon@1.2.3/pe-icon-7-stroke/dist/pe-icon-7-stroke.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.2.0/css/flag-icon.min.css">
    <!-- <link rel="stylesheet" href="assets/css/cs-skin-elastic.css">
    <link rel="stylesheet" href="assets/css/style.css"> -->

    <link rel="stylesheet" href="{{ url_for('static', filename='owner/css/cs-skin-elastic.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='owner/css/style.css') }}">
    <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.min.js"></script> -->
    <link href="https://cdn.jsdelivr.net/npm/chartist@0.11.0/dist/chartist.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/jqvmap@1.5.1/dist/jqvmap.min.css" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/weathericons@2.1.0/css/weather-icons.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/fullcalendar@3.9.0/dist/fullcalendar.min.css" rel="stylesheet" />

    <style>
        #weatherWidget .currentDesc {
            color: #ffffff !important;
        }

        .traffic-chart {
            min-height: 335px;
        }

        #flotPie1 {
            height: 150px;
        }

        #flotPie1 td {
            padding: 3px;
        }

        #flotPie1 table {
            top: 20px !important;
            right: -10px !important;
        }

        .chart-container {
            display: table;
            min-width: 270px;
            text-align: left;
            padding-top: 10px;
            padding-bottom: 10px;
        }

        #flotLine5 {
            height: 105px;
        }

        #flotBarChart {
            height: 150px;
        }

        #cellPaiChart {
            height: 160px;
        }
    </style>
</head>

<body>

    {% with messages = get_flashed_messages(category_filter=["newplace"]) %}
    {% if messages %}
    {% for msg in messages %}
    <script>
        window.alert('{{ msg }}');
    </script>
    {% endfor %}
    {% endif %}
    {% endwith %}

    {% include 'owner/nav.html' %}


    <div class="content">
        <!-- Animated -->
        <div class="animated fadeIn">
            <div class="card">
                <div class="card-header">
                    <strong class="card-title">Registration a new Place !</strong>
                </div>
                <div class="card-body">
                    <div id="pay-invoice">
                        <div class="card-body">
                            <div class="card-title">
                                <h3 class="text-center">Fill the following details</h3>
                            </div>

                            <form action="/owner_register" method="POST" enctype="multipart/form-data">

                                <div class="form-group">
                                    <label for="cc-payment" class="control-label mb-1">Name of Property:</label>
                                    <input id="cc-payment" name="propertyname" type="text" class="form-control"
                                        required>
                                </div>

                                <div class="row form-group">
                                    <div class="col col-md-3"><label for="file-multiple-input"
                                            class=" form-control-label">Add Photo of Property:</label></div>
                                    <div class="col-12 col-md-9">
                                        <input type="file" accept="image/*" id="file-multiple-input" name="propertypic"
                                            class="form-control-file" required>
                                    </div>
                                </div>

                                <div class="form-group has-success">
                                    <label for="cc-name" class="control-label mb-1">Name of Owner:</label>
                                    <input id="cc-name" name="cc-name" type="text" class="form-control cc-name valid"
                                        readonly value="{{rs[1]}}">
                                </div>

                                <div class="row">
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label for="cc-number" class="control-label mb-1">Shop No. / Building /
                                                Street:</label>
                                            <input id="cc-exp" name="shop" type="text" class="form-control cc-exp"
                                                placeholder="eg. Shop no. 403, Empire Building, Shivaji Chowk" required>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <label for="x_card_code" class="control-label mb-1">City:</label>
                                        <div class="input-group">
                                            <input id="cc-exp" name="city" type="text" class="form-control cc-exp"
                                                placeholder="eg. Kalyan" required>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label for="cc-exp" class="control-label mb-1">State:</label>
                                            <select name="state" id="select" class="form-control" required>
                                                <option value="" disabled selected hidden>Select State</option>
                                                <option value="andhrapradesh">Andhra Pradesh</option>
                                                <option value="arunachalpradesh">Arunachal Pradesh</option>
                                                <option value="assam">Assam</option>
                                                <option value="bihar">Bihar</option>
                                                <option value="chhattisgarh">Chhattisgarh</option>
                                                <option value="goa">Goa</option>
                                                <option value="gujarat">Gujarat</option>
                                                <option value="haryana">Haryana</option>
                                                <option value="himachalpradesh">Himachal Pradesh</option>
                                                <option value="jammukashmir">Jammu and Kashmir</option>
                                                <option value="jharkhan">Jharkhand</option>
                                                <option value="karnataka">Karnataka</option>
                                                <option value="kerala">Kerala</option>
                                                <option value="madhyapradesh">Madhya Pradesh</option>
                                                <option value="maharashtra">Maharashtra</option>
                                                <option value="manipur">Manipur</option>
                                                <option value="meghalaya">Meghalaya</option>
                                                <option value="mizoram">Mizoram</option>
                                                <option value="nagaland">Nagaland</option>
                                                <option value="orissa">Orissa</option>
                                                <option value="punjab">Punjab</option>
                                                <option value="rajasthan">Rajasthan</option>
                                                <option value="sikkim">Sikkim</option>
                                                <option value="tamilnadu">Tamil Nadu</option>
                                                <option value="telangana">Telangana</option>
                                                <option value="tripura">Tripura</option>
                                                <option value="uttarpradesh">Uttar Pradesh</option>
                                                <option value="uttarakhand">Uttarakhand</option>
                                                <option value="westbengal">West Bengal</option>
                                            </select>
                                        </div><br>
                                    </div>
                                    <div class="col-4">
                                        <label for="x_card_code" class="control-label mb-1">Pincode:</label>
                                        <div class="input-group">
                                            <input id="x_card_code" name="pincode" type="tel"
                                                class="form-control cc-cvc" required>
                                        </div><br>
                                    </div>
                                    <div class="col-4">
                                        <label for="x_card_code" class="control-label mb-1">Contact No:</label>
                                        <div class="input-group">
                                            <input id="x_card_code" name="telephone" type="tel"
                                                class="form-control cc-cvc" required>
                                        </div><br>
                                    </div>
                                </div>

                                <div class="row form-group">
                                    <div class="col-6">
                                        <label for="x_card_code" class="control-label mb-1">Venue Type:</label>
                                        <select name="place" id="places" class="form-control" required>
                                            <option value="" disabled selected hidden>Select Venue Type</option>
                                            <option value="hotel">Hotels</option>
                                            <option value="cinema">Cinema Theatres</option>
                                            <option value="garden">Gardens & Parks</option>
                                            <option value="malls">Malls</option>
                                        </select>
                                    </div>
                                    <div class="col-6">
                                        <label class=" form-control-label">Please select the
                                            facilities that you have:</label>
                                        <button type="button" class="btn dropdown-toggle col-10" data-toggle="dropdown"
                                            aria-haspopup="true" aria-expanded="false"
                                            style="background-color: #ffffff; border: solid 1px black; color: black;">
                                            -- Select --
                                        </button>
                                        <div class="dropdown-menu col-10" id="facilities">
                                        </div>

                                        <style>
                                            .dropdown-menu input {
                                                margin: 0 10px;
                                            }
                                        </style>

                                        <script>
                                            $('#places').on('change', function () {
                                                console.log($('#places').val())
                                                $('#facilities').html('');
                                                if ($('#places').val() == 'hotel') {
                                                    $('#facilities').append('<input type="checkbox" name="check" id="1" value="doors"><label for="1">Automatic Doors</label> <br>');
                                                    $('#facilities').append('<input type="checkbox" name="check" id="1" value="entryspace"><label for="1">Wheelchair Entry Space</label> <br>');
                                                    $('#facilities').append('<input type="checkbox" name="check" id="1" value="slip"><label for="1">Slip Resistant flooring</label> <br>');
                                                    $('#facilities').append('<input type="checkbox" name="check" id="1" value="toilets"><label for="1">Wheelchair Friendly Toilets</label> <br>');
                                                    $('#facilities').append('<input type="checkbox" name="check" id="1" value="ramp"><label for="1">Slope/Ramps/Lifts</label> <br>');
                                                    $('#facilities').append('<input type="checkbox" name="check" id="1" value="sign"><label for="1">Employee trained with Sign Language</label> <br>');
                                                    $('#facilities').append('<input type="checkbox" name="check" id="1" value="blocks"><label for="1">Guiding blocks for person with impaired vision</label> <br>');
                                                }
                                                else if ($('#places').val() == 'garden') {
                                                    $('#facilities').append('<input type="checkbox" name="check" id="1" value="seating"><label for="1">Plenty of Seating facilities</label> <br>');
                                                    $('#facilities').append('<input type="checkbox" name="check" id="1" value="v"><label for="1">Information board in Braille</label> <br>');
                                                    $('#facilities').append('<input type="checkbox" name="check" id="1" value="signages"><label for="1">Information board in Audible Signages</label> <br>');
                                                }
                                                else if ($('#places').val() == 'malls') {
                                                    $('#facilities').append('<input type="checkbox" name="check" id="1" value="doors"><label for="1">Automatic Doors</label> <br>');
                                                    $('#facilities').append('<input type="checkbox" name="check" id="1" value="slip"><label for="1">Slip Resistant flooring</label> <br>');
                                                    $('#facilities').append('<input type="checkbox" name="check" id="1" value="toilets"><label for="1">Wheelchair Friendly Toilets</label> <br>');
                                                    $('#facilities').append('<input type="checkbox" name="check" id="1" value="ramp"><label for="1">Slope/Ramps/Lifts</label> <br>');
                                                }
                                                else if ($('#places').val() == 'cinema') {
                                                    $('#facilities').append('<input type="checkbox" name="check" id="1" value="walkingsupport"><label for="1">Handrail for walking support</label> <br>');
                                                    $('#facilities').append('<input type="checkbox" name="check" id="1" value="seats"><label for="1">Pre-reserve Seats</label> <br>');
                                                    $('#facilities').append('<input type="checkbox" name="check" id="1" value="doors"><label for="1">Automatic Doors</label> <br>');
                                                    $('#facilities').append('<input type="checkbox" name="check" id="1" value="slip"><label for="1">Slip Resistant flooring</label> <br>');
                                                    $('#facilities').append('<input type="checkbox" name="check" id="1" value="toilets"><label for="1">Wheelchair Friendly Toilets</label> <br>');
                                                    $('#facilities').append('<input type="checkbox" name="check" id="1" value="ramp"><label for="1">Slope/Ramps/Lifts</label> <br>');
                                                }
                                            });
                                        </script>
                                    </div>
                                </div>

                                <div>
                                    <button id="submit-button" type="submit" class="btn btn-lg btn-info btn-block">
                                        <span id="payment-button-amount">Submit</span>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div> <!-- .card -->

        </div>

    </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>